@layer components {
  .c-image {
    display: block;
    opacity: 0;
    transition: opacity var(--motion-base) ease;

    &--loaded {
      opacity: 1;
    }

    &--error {
      opacity: 0.5;
      filter: grayscale(100%);
    }
  }
}
