@use '../tools';

@layer components {
  /* A router link in the navigation panel. */
  .c-link {
    display: block;
    padding: 1rem 0;
    color: var(--color-text-contrast);
    font-family: var(--font-mono);
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    @include tools.strike-on-hover($thickness: 2.5px);
  }

  .c-link--active {
    font-weight: 600;
  }
}
