@layer generic {
  html {
    font-size: var(--text-size-md);
    scroll-behavior: smooth;
    scroll-padding-top: calc(var(--header-height) + 1rem);
    touch-action: manipulation;

    @media (prefers-reduced-motion: reduce) {
      scroll-behavior: auto;
    }
  }

  body {
    min-height: 100vh;
    font-family: var(--font-main);
    background-color: var(--color-background-main);
    color: var(--color-text-main);
    line-height: 1.55;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    color: var(--color-text-main);
    background: var(--color-selection);
  }
}
