@layer generic {
  @font-face {
    font-family: 'Inter Display';
    src: url('/fonts/inter-display-semibold-4.1.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
  }
}
